<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
The following memory flag will be modified by ImageJ Memory Options.
It will also be parsed and used by the launch script (MMImageJ).
MMImageJLauncherMemoryFlag -Xmx768m
-->
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>org.micro-manager.MMImageJ</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>i386</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>MMImageJ</string>
	<key>CFBundleGetInfoString</key>
	<string>http://micro-manager.org/</string>
	<key>CFBundleIconFile</key>
	<string>MicroManager.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ImageJ</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.4</string>
</dict>
</plist>
